# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DEV DATABASE
DATABASE_URL=

# PROD DATABASE
# DATABASE_URL='mysql://h1mbqojhrrnfdt5le893:pscale_pw_PBYgn8GqLK1Gwvo8MoBfqTNLs5QCUobhD4LR23MsyVV@aws.connect.psdb.cloud/project-titan?sslaccept=strict'


# Needed for nextauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXTAUTH_SECRET=
NEXTAUTH_URL=