.header {
  height: rem(90px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-4));
  background-color: #1a1c27;
  box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.2), 0px 10px 16px 2px rgba(0, 0, 0, 0.15), 0px 4px 20px 4px rgba(0, 0, 0, 0.09);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-white));
  font-weight: 600;
  font-size: var(--mantine-font-size-md);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
    display: block; /* or inline-block */
    /* text-align: center; TO CENTER THE DAMNED TEXT :) */
  }

  &:hover {
    color: #44c5f8;
  }
}
@media (max-width: $mantine-breakpoint-sm) {
  .link + .link {
    /* Targets every .link that follows another .link */
    margin-top: var(--mantine-spacing-md); /* Adds space between links */
  }
}
.linklogo {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  /* Adjust logo alignment and padding for mobile */
  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center; /* Center logo if needed */
    padding-left: var(--mantine-spacing-xs); /* Adjust if needed */
    padding-right: var(--mantine-spacing-xs); /* Adjust if needed */
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.customavatarhover {
  transition: outline 0.1s ease; /* Smooth transition for the outline */
}

/* Applying hover effect directly without a media query for desktop */
.customavatarhover:hover {
  outline: 2px solid #e2e2e3; /* Example outline color */
  outline-offset: 2px;
}
