body {
  background-color: #f8f9fa;
}

#wazzapp {
  /* border-color: red; */
}

div.MRT_GlobalFilterTextInput-module_collapse__v311d {
  margin-left: -0.5em;
}

@media (min-width: 36em) {
  #wazzapp {
    /* border-color: green; */
    width: 25em;
  }
}

@media (min-width: 49em) {
  #wazzapp {
    /* border-color: blue; */
    width: 38em;
  }
}
@media (min-width: 62em) {
  #wazzapp {
    /* border-color: orange; */
    width: 51em;
  }
}
@media (min-width: 75em) {
  #wazzapp {
    /* border-color: purple; */
    width: 64em;
  }
}
@media (min-width: 88em) {
  #wazzapp {
    /* border-color: pink; */
    width: 68em;
  }
}