body {
  background-color: #0f1626;
}

@font-face {
  font-family: TrustMDFont;
  src: url('/fonts/friz-quadrata-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* classes necessary for the mantine table react's search bar to be 100% wide */
div.MRT_GlobalFilterTextInput-module_collapse__v311d {
  width: 100%;
}

.MRT_GlobalFilterTextInput-module_root__Xmcpv {
  width: 100%; 
}
